#web_bg {
    /* 背景图像的地址（url括号里）  */
    background: url(https://cdn.jsdelivr.net/gh/blogimg/picbed@master/2020/04/11/70bf89cded3f495f0a82a4d82f86e53c.png);
    /* 背景图像不重复 */
    background-repeat: no-repeat;
    /* 背景图像大小 */
    background-size: cover;
  }